body {
    background: #e8f6d8;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h1 {
    font-family: Arial, sans-serif;
  }
  
  .container {
    background: #ffffff;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    padding: 2em;
    width: 70%;
  }
  
#bmRequestForm input {
    font-size: 20px;
    height: 32px;
  }
  
  #bmRequestForm input[type=button] {
    height: 38px;
  }

  #map {
    height: 800px;
    margin-top: 2em;
  }

  .leaflet-container .leaflet-control-mapcentercoord {
      font-size: 18px !important;
  }
